@model Spg.MusicPalace.Dtos.AlbumDto

<h3>Details of album @Model.Title</h3>

@if (Model is not null)
{
<dl>
    <dt>Title:</dt>
    <dd>@Model.Title</dd>
    <dt>Artist:</dt>
    <dd>@Model.Artistname</dd>    
</dl>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Songs</th>
        </tr>
    </thead>
    <tbody>
        @foreach(string item in @Model.SongTitles)
        {
            <tr>
                <td>@item.ToString()</td>
            </tr>
        }
    </tbody>
</table>
<dl>    
    <dt>Guid:</dt>
    <dd>@Model.Guid</dd>   
    
    <a asp-controller="Albums" asp-action="Index">Back</a>
</dl>
}
else
{
    <div class="alert alert-danger" role="alert">
        No data found!
    </div>
}