@model Spg.MusicPalace.Dtos.SongDto

<h3>Details of song @Model.Title</h3>

@if (Model is not null)
{
<dl>
    <dt>Title:</dt>
    <dd>@Model.Title</dd>
    <dt>Guid:</dt>
    <dd>@Model.Guid</dd>
    @if (@Model.Title.Contains("m"))
        { }
        else
        {
            <a asp-controller="Songs" asp-action="Delete" asp-route-id="@Model.Guid">Delete</a>
        }
        <a asp-controller="Songs" asp-action="Index">Back</a>
</dl>
}
else
{
    <div class="alert alert-danger" role="alert">
        No data found!
    </div>
}